# 物体检测标签数据增广
这个文件是在 win7 环境进行的工作。临时。
- 一般环境在 Ubuntu 虚拟机

In [1]:
import pandas as pd

In [2]:
group = 'train_1w'
# group_aug = 'train_b_1w'
# group_aug = 'train_b_aug_1w' # 小数据集增广+大数据 10000+10602=20602
group_aug = 'train_b_1w_aug' # 小数据集+大数据集+都增广 10000+10602 * (1+2) =41806 
aug_max = 3
annotation_info = pd.read_csv('../data/%s.csv'%(group))
annotation_info.head()

,name,coordinate
0,e3d5c101-6bb9-48af-ac80-08c73304456b.jpg,173_179_162_180;508_197_157_194
1,e3d5d8a4-9622-45fd-ac07-4e0fdc0ba97b.jpg,341_21_83_66;528_29_107_83;387_76_108_114;191_...
2,e3d6518e-b0f5-4b4f-bacd-6ee405424ca0.jpg,449_168_113_101;575_148_130_168;339_270_187_20...
3,e3d65c80-cdc3-4097-a0ad-374cd2a45107.jpg,442_0_85_42;302_0_71_57;205_24_106_112;396_65_...
4,e3d6a72f-a64a-416f-a453-94ea81814ccf.jpg,33_10_85_64;1_30_79_111;193_26_118_74;887_0_17...

In [3]:
def annotation_augmentation_yolo3(df, aug_max):
    ''' yolo3 需要这样：train_b 和 aug '''
    result = df
    for i in range(aug_max):
#         print('i=', i)
        df_aug = df.copy()
        if i > 0:
            df_aug.name = df.name.apply(lambda x: 'aug%s_%s'%(i, x))
            result = pd.concat([result, df_aug])
        else:
            result = df_aug
    return result

In [4]:
annotation_aug = annotation_augmentation_yolo3(annotation_info, aug_max)
# 输出增广结果
annotation_aug.to_csv('../data/%s_aug.csv'%group, index=False)
annotation_aug.head()

,name,coordinate
0,e3d5c101-6bb9-48af-ac80-08c73304456b.jpg,173_179_162_180;508_197_157_194
1,e3d5d8a4-9622-45fd-ac07-4e0fdc0ba97b.jpg,341_21_83_66;528_29_107_83;387_76_108_114;191_...
2,e3d6518e-b0f5-4b4f-bacd-6ee405424ca0.jpg,449_168_113_101;575_148_130_168;339_270_187_20...
3,e3d65c80-cdc3-4097-a0ad-374cd2a45107.jpg,442_0_85_42;302_0_71_57;205_24_106_112;396_65_...
4,e3d6a72f-a64a-416f-a453-94ea81814ccf.jpg,33_10_85_64;1_30_79_111;193_26_118_74;887_0_17...

In [5]:
group2 = 'train_b_aug'
annotation_info2 = pd.read_csv('../data/%s.csv'%(group2))
annotation_info2.head()

,name,coordinate
0,3333bf6f-57cb-4d90-afe1-636dcd88a255.jpg,498_237_173_172;1049_20_18_82
1,1eb97c5b-78ef-455b-8c9c-3fc8c33201f9.jpg,438_79_233_285;627_52_114_101;205_191_166_164;...
2,eeeb4783-6acb-4e83-9adf-fc0d2ee1f74d.jpg,195_266_176_143
3,98681fd0-656a-4e52-b2cf-77ad5747e51d.jpg,1042_0_27_47;391_12_128_110;292_171_179_183
4,c8b43dfa-094c-407a-9867-3f351354a755.jpg,281_97_238_322;699_437_248_60

In [8]:
annotation_aug.shape

(31806, 2)

In [6]:
result = pd.concat([annotation_aug, annotation_info2])
# 输出增广结果
result.to_csv('../data/%s.csv'%(group_aug), index=False)
result.head()

,name,coordinate
0,e3d5c101-6bb9-48af-ac80-08c73304456b.jpg,173_179_162_180;508_197_157_194
1,e3d5d8a4-9622-45fd-ac07-4e0fdc0ba97b.jpg,341_21_83_66;528_29_107_83;387_76_108_114;191_...
2,e3d6518e-b0f5-4b4f-bacd-6ee405424ca0.jpg,449_168_113_101;575_148_130_168;339_270_187_20...
3,e3d65c80-cdc3-4097-a0ad-374cd2a45107.jpg,442_0_85_42;302_0_71_57;205_24_106_112;396_65_...
4,e3d6a72f-a64a-416f-a453-94ea81814ccf.jpg,33_10_85_64;1_30_79_111;193_26_118_74;887_0_17...

In [9]:
result.shape

(41806, 2)